extend layout/layout
block css
	link(rel="stylesheet" href="/css/common.css")
	link(rel="stylesheet" href="/css/admin.css")
block js
	script(src="/js/common/Custom.js")
block content
	include layout/sidebar
	div.main
		form(method="POST" action="/article/update").newArt
			input(name="id",type="hidden" value="#{id}").input
			input(name="title",type="text",placeholder="标题（必填）" value="#{title}").input
			input(name="author",type="text",placeholder="作者" value="#{author}").input
			input(name="tags",type="text",placeholder="标签，多个标签请用空格分离" value="#{tags}").input
			textarea(name="preface",placeholder="前言").input.preface #{preface}
			textarea(name="contents",placeholder="文章内容，支持Markdown格式").input.contents #{content}
			button(type="submit").btn.btn-submit 修改