extends layout/layout
block css
	link(rel="stylesheet" href="/css/common.css")
	link(rel="stylesheet" href="/css/style.css")
block js
	script(src="/js/common/Custom.js")
	script(src="/js/index.js")

block content
	include layout/sidebar
	div.main
		div.m-box
			.m-box-hd 
				h2.fl 置顶文章
				a(href="##").fr.more 更多
			ul.m-box-bd
				li
					h3 css基础
					p 事件是前端之中，非常重要的一个部分。其作用在于对于用户的各种行为进行相应。近日打算对于事件系统进行更为深入的学习，同时，对于这一部分学习的内容进行一个总结。因为浏览器发展至今，事件系统本身已经尤为的复杂了，所以事件这一部分内容可能会将分为很多章来进行总结。本章将对于事件系统，根据个人的经验，以及其他...
					small yushangjiang发布于2015/9/22  评论0  阅读（10）
				li
					h3 css基础
					p 事件是前端之中，非常重要的一个部分。其作用在于对于用户的各种行为进行相应。近日打算对于事件系统进行更为深入的学习，同时，对于这一部分学习的内容进行一个总结。因为浏览器发展至今，事件系统本身已经尤为的复杂了，所以事件这一部分内容可能会将分为很多章来进行总结。本章将对于事件系统，根据个人的经验，以及其他...
					small yushangjiang发布于2015/9/22  评论0  阅读（10）
		div.m-box
			.m-box-hd.cl 
				h2.fl 业界最新
				a(href="/news/1").fr.more 更多
			ul.m-box-bd.news
				each item in news
					li.cl
						a(href="#{item.url}" target="_blank")
							h3.fl [#{item.from}]#{item.title}
						if(item.isCollect)
							if(user)
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 已收藏
							else
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").collect 已收藏	
						else
							if user
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 添加收藏
						small.fr 作者：#{item.author}
