extends layout/layout
block css
	link(rel="stylesheet" href="/css/common.css")
	link(rel="stylesheet" href="/css/style.css")
block js
	script(src="/js/common/Custom.js")
	script(src="/js/index.js")

block content
	include layout/sidebar
	div.main
		div.m-box
			.m-box-hd 
				h2.fl 置顶文章
			ul.m-box-bd
				each item in tops
					li
						a(href="/article/detail/#{item._id}") 
							h3 [置顶]#{item.title}
								small #{item.author} 发布于 #{moment(item.meta.createAt).format("YYYY年MM月DD日 HH:mm:ss")}
						if(item.preface)
							p.preface #{item.preface} 
							a(href="/article/detail/#{item._id}").read-all.fl 查看全文
		div.m-box
			.m-box-hd.cl 
				h2.fl 业界最新
				a(href="/news/1").fr.more 更多
			ul.m-box-bd.news
				each item in news
					li.cl
						a(href="#{item.url}" target="_blank")
							h3.fl [#{item.from}]#{item.title}
						if(item.isCollect)
							if(user)
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 已收藏
							else
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").collect 已收藏	
						else
							if user
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 添加收藏
						small.fr 作者：#{item.author}
