extends layout/layout
block css
	link(rel="stylesheet" href="/css/common.css")
block js
	if(user)
		script(src="/js/common/Custom.js")
		script(src="/js/admin.js")

block content
	include layout/sidebar
	.main
		div.pageNav
			span.hd 共20页，每页20条记录
			a(href="/news/#{prev}").prev 上一页
			-for(var i=1;i<=pages;i++){
				if i<=5||i>=pages-2
					if(i==page)
						a(class="on",href="/news/#{i}").page #{i}
					else
						a(href="/news/#{i}").page #{i}
				else 
				if i==6
					a(href="##").page ...
			-}
			a(href="/news/#{next}").next 下一页
			a(href="/news/#{pages}").last 跳到最后
		div.m-box
			.m-box-hd 
				h2.fl 业界最新
			ul.m-box-bd.news
				each item in news
					li.cl
						a(href="#{item.url}" target="_blank").fl
							h3.fl [#{item.from}]#{item.title}
						if(item.isCollect)
							if(user)
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 已收藏
							else
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").collect 已收藏	
						else
							if user
								i(data-id="#{item._id}",data-collect="#{item.isCollect}").admin.collect 添加收藏
						small.fr 作者：#{item.author}